@media screen and (min-width:480px) and (max-width:767px){
    body {
        background-color:orangered;
        color: black;
    }
}
@media screen and (min-width:767px){
    body {
        background-color:black
    }
.important {
    color:orangered;
    font: 1em sans-serif;
    font-size:medium;
    float:left;
    }
}

.line1 {
    color:orangered;
    font-size: larger;
    text-decoration: underline;
    font-weight:bolder;
}
.img{
    float:left
}
.sidebar {
    float:left;
    width:50%;
    background-color:rgb(24, 23, 23);
    color: white;
    font-size:medium;
}
.sidebar2 {
    float:right;
    width: 90%;
    background-color: orangered;
    font-size: large;

}
.testbox {
    border:2px solid orangered;
    padding:30px;
    margin:2px;
    background-color:black;
    float:left
}
.testbox2 {
     border:10px solid black;
     padding:18px;
     margin:2px;
     background-color:orangered;
     float:right
}
.hobby {
    font-size:medium;
    text-decoration: underline;
}
.key {
    font-style: oblique;
    font-weight: bold;
}
.ending{
    float: left;
    width:100%;
    background-color:black;
    font-size: large;
    font-weight: bold;
    color:red;
}