@media screen and (min-width:480px) and (max-width:767px){
    body {
        background-color:orangered;
        color: black;
    }
}
@media screen and (min-width:767px){
    body {
        background-image:url("https://c.wallhere.com/photos/81/01/1920x1080_px_General-534992.jpg!d");
    }
.maincontent {
    color:orangered;
    font: 1em sans-serif;
    font-size:medium;
    float:left;
    }
}

.line1 {
    color:orangered;
    font-size: larger;
    text-decoration: underline;
    font-weight:bolder;
}
.img{
    float:left
}
.sidebar {
    float:left;
    width:50%;
    background-color:black;
    color: white;
    font-size:medium;
}
.sidebar2 {
    float:right;
    width: 90%;
    background-color: rgb(22, 20, 20);
    font-size: large;

}
.textbox {
    border:2px solid grey;
    padding:30px;
    margin:2px;
    background-color:black;
    float:left
}
.textbox2 {
     border:3px solid black;
     padding:18px;
     margin:2px;
     background-color:orangered;
     float:right
}
.hobby {
    font-size:medium;
    text-decoration: underline;
}
.key {
    font-style: oblique;
    font-weight: bold;
}
.ending{
    float: left;
    width:100%;
    background-color:none;
    font-size: large;
    font-weight: bold;
    color:red;
}