@media screen and (min-width:480px) and (max-width:767px){
    body {
        background-color:black;
        color: white;
    }
}
@media screen and (min-width:767px){
    body {
        background-color:black
    }
.important {
    color:orangered;
    font: 1em sans-serif;
    font-size:medium;
    float:right
    }
}

.line1 {
    color:orangered
}
.img{
    float:left
}
.sidebar {
    float:left;
    width:50%;
    background-color:white;
    color: black
    font-size:medium
}
.sidebar2 {
    float:left;
    width: 60%;
    background-color: orangered;
    font-size: large;

}
.testbox {
    border:10px solid orangered;
    padding:30px;
    margin:2px;
    background-color:black
}
.testbox2 {
     border:10px solid black;
     padding:18px;
     margin:2px;
     background-color:orangered;
     float:right
}
.h {
    font-size:medium
}